.site-header{
    background-color: #bc8c9b;
    color: #e2d7d7;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 1px;
}

.profile-pic{
    border-radius: 50%;
    height:200px;
    width:200px;
    align-self: center;
    box-shadow: #411523 2px 5px 5px;
}
.course-link{
    color: #e2d7d7;
}

body{
    margin: 0;
}